body {
  background-color: black;
}

.Game-Title {
  color: white;
}

.Game-Window {
  border: 2px solid white;
  text-align: center;
}

.Controls-Window {
  border: 2px solid white;
  text-align: center;
}

.Controls {
  color: white;
}

table {
  border: 1px solid;
  width: 80%;
  margin-left: 10%;
  background-image: url(../images/Background-Image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10px 10%;
}

td {
  height: 15px;
  width: 15px;
  /* border: 1px solid white; */
}

.Play {
  padding: 0;
  margin: 0;
  color: white;
  height: 15px;
  width: 15px;
}

.PBtn {
  padding: 0;
  margin: 0;
  background-color: black;
  border: 1px solid white;
  height: 15px;
  width: 15px;
}

.pacman {
  height:15px;
  width:15px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
}
